---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Article from "../components/Article.astro";

import { getCollection } from "astro:content";

const posts = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const amount = posts.length;

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Header tags={tags} currentPath={currentPath} amount={amount} />
  <main class="main">
    <div class="intro">
      <!-- <p>
        {tagUppercased}
      </p>
      <p>{amount}&nbsp;{amount === 1 ? "font" : "fonts"}</p> -->
      <p>
        All {amount}&nbsp;{amount === 1 ? "font" : "fonts"}
      </p>
      <!-- <p>{amount}&nbsp;{amount === 1 ? "font" : "fonts"}</p> -->
    </div>
    <div class="items">
      {
        posts.map((post) => (
          <Article
            slug={post.slug}
            title={post.data.title}
            foundry={post.data.foundry}
            styles={post.data.styles}
            license={post.data.license}
            variable={post.data.variable}
            date={post.data.pubDate}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>
