---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Article from "../components/Article.astro";

import { getCollection } from "astro:content";

const posts = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const amount = posts.length;

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Header tags={tags} currentPath={currentPath} amount={amount} />
  <main class="main">
    {
      /*
    <div class="intro">
      <h2>All</h2>
      <p>{amount}&nbsp;{amount === 1 ? "font family" : "font families"}</p>
      <h2 class="intro__text">
        All {amount}&nbsp;{amount === 1 ? "font" : "fonts"}
      </h2>
      <p>{amount}&nbsp;{amount === 1 ? "font" : "fonts"}</p>
    </div>
    */
    }
    <div class="items">
      {
        posts.map((post) => (
          <Article
            title={post.data.title}
            slug={post.slug}
            date={post.data.pubDate}
            foundry={post.data.foundry}
            variableFont={post.data.variableFont}
            staticFont={post.data.staticFont}
            weights={post.data.weights}
            italic={post.data.italic}
          />
        ))
      }
    </div>
  </main>
</BaseLayout>
