---
const { slug, title, foundry, styles, license } = Astro.props;
const { default: svg } = await import(`../svg/${slug}.svg?raw`);
// make an id for each item based on the title
const id = title.toLowerCase().replace(/\s/g, "-");
---

<article class={`item`}>
  <a class="item__link" href={`/${slug}/`} rel="prefetch">
    <h2 class="item__img">
      <Fragment set:html={svg} />
    </h2>
    <div class="item__header">
      <!-- <h2 class="item__title">{title}</h2> -->
      <!-- <p class="item__foundry">By {foundry}</p> -->
      <p class="item__styles">{styles}</p>
      <!-- <p class="item__license">{license}</p> -->
    </div>
  </a>
</article>
