---
import { Image } from "astro:assets";
import Thumb from "../components/Thumb.astro";
const {
  slug,
  title,
  foundry,
  weights,
  italic,
  variable,
  date,
  variableFont,
  staticFont,
} = Astro.props;
// get the svg file path from preview
// const svgFilePath = preview.toString();

// const { default: svg } = await import(`../svg/${slug}/thumb.svg?raw`);
---

<article class={`item`}>
  <a class="item__link" href={`/${slug}/`} rel="prefetch">
    <h2 class="item__img">
      <Thumb slug={slug} title={title} font={staticFont} />
      <!-- <Fragment set:html={svg} /> -->
    </h2>
    {
      /*
      date > new Date(Date.now() - 2592000000) && (
        <p class="item__status">New</p>
      )
     */
    }

    <!-- {variable && <p class="item__status">VAR</p>} -->

    <div class="item__header">
      <!-- <p class="item__foundry">By {foundry}</p> -->
      <p class="item__styles color-meta">
        <!-- {
          `${variable ? "Variable " : "Static"}${weights} weights${
            italic ? " + italics" : ""
          }`
        } -->
        <!-- {
          `${weights} weights${italic ? " + italics" : ""} ${
            variable ? " + variable" : ""
          }`
        } -->
        {italic ? weights * 2 : weights} styles
        <!-- {weights} weights -->
        <!-- {italic ? " + italics" : ""} -->
        <!-- {variable ? " - variable:" : ""} -->
        <!-- {variable && <span class="item__var">VAR</span>} -->
        {variable && <span class="item__var">Variable</span>}
      </p>
    </div>
  </a>
</article>
