---
import { Image } from "astro:assets";
import Thumb from "../components/Thumb.astro";
const { slug, title, preview, foundry, styles, variable, date, font } =
  Astro.props;
// get the svg file path from preview
// const svgFilePath = preview.toString();

// const { default: svg } = await import(`../svg/${slug}/thumb.svg?raw`);
---

<article class={`item`}>
  <a class="item__link" href={`/${slug}/`} rel="prefetch">
    <h2 class="item__img">
      <Thumb slug={slug} title={title} font={font} />
      <!-- <Fragment set:html={svg} /> -->
      <!-- <img src={preview} alt="" /> -->
      <!-- <Image src={preview} alt={title} format="svg" /> -->
    </h2>
    {
      date > new Date(Date.now() - 2592000000) && (
        <p class="item__status">New</p>
      )
    }
    <div class="item__header">
      <p class="item__foundry">By {foundry}</p>
      <p class="item__styles color-meta">
        {styles}&nbsp;{styles === 1 ? "style" : "styles"}&nbsp;{
          variable ? "+ variable" : ""
        }
      </p>
      <!-- <p class="item__license">{license}</p> -->
    </div>
  </a>
</article>
