---
import BaseLayout from "../layouts/BaseLayout.astro";
import BackLink from "../components/BackLink.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { title, downloadLink } = Astro.props;
const slug = title.toLowerCase().replace(/\s/g, "-");
const id = title.toLowerCase().replace(/\s/g, "-");
const { default: svg } = await import(`../svg/${slug}.svg?raw`);
---

<BaseLayout title={title}>
  <BackLink />
  <article class="detail">
    <header class="detail__intro">
      <h1 class="detail__img">
        <Fragment set:html={svg} />
      </h1>

      <!-- <div class="detail__header">
        <h1 class="detail__title font-size-l">{title}</h1>
      </div> -->
    </header>
    <div class="detail__body">
      <div class="flow max-width-m">
        <slot />
      </div>
      <div class="flow">
        <dl>
          <dt>Company</dt>
          <dt>Image credit</dt>
          <dd>
            <a href={downloadLink} target="_blank" rel="noopener noreferrer">
              Download
            </a>
          </dd>
        </dl>
        <!-- <p class="color-meta">
          Image courtesy of
          <a href={downloadLink} target="_blank" rel="noopener noreferrer">
            {credit}
          </a>
        </p> -->
      </div>
    </div>
  </article>
</BaseLayout>
